@{
    ViewData["Title"] = "Pagina de bienvenida";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de carga de pacientes</h1>
</div>

<div style="text-align: center; margin-top: 20px;">
    <button style="background-color: cornflowerblue; color: azure" onclick="location.href='/Paciente/Create'">Cargar paciente</button>
    <button style="background-color: cornflowerblue; color: azure" onclick="location.href='/Paciente/ListaPaciente'">Ver lista de paciente</button>
</div>
